
.hidden {
  opacity: 0;
}

#welcome-blurb {
  padding-top: 40px;
  font-size: 18px;
  line-height: 19px;
  width: 400px;
  max-width: 90vw;
  text-align: center;
  margin: 0 auto;

  h2 {
    font-size: x-large;
    font-weight: bold;
  }
}
