<div class="software-project-overview-blocks" style="padding-top: 24px">
  <!-- tkutcher. -->
  <div
    class="software-project-overview-block mat-elevation-z4"
    wmAnimate="landing"
    speed="fast"
    [aos]="0.5"
  >
    <div class="title-row">
      <h3 id="tkutcher">
        <a href="https://github.com/tkutcher/tkutcher">tkutcher</a>
      </h3>
      <span class="lang-logo"><i class="fas fa-lg fa-cogs"></i></span>
    </div>
    <div class="img-and-meta-info">
      <div class="img-container">
        <img src="/assets/images/avi-no-bg-tshirt-cropped.png" alt="JGrade" />
      </div>
      <div class="meta-info">
        <div class="meta-info-item" style="word-break: break-all">
          <a href="https://github.com/tkutcher/tkutcher">
            <i class="fab fa-md fa-github"></i> tkutcher
          </a>
        </div>
        <div class="meta-info-item">
          <a href="https://github.com/tkutcher/tkutcher/blob/dev/LICENSE.md">
            <i class="fas fa-md fa-balance-scale"></i> MIT
          </a>
        </div>
        <div class="meta-info-item">
          <a href="https://github.com/tkutcher/tkutcher/stargazers">
            <i class="fas fa-md fa-star"></i> {{ tkutcherWatchers }}
          </a>
        </div>
      </div>
    </div>
    <div class="description">
      My home repository with some Python style/testing configurations, unix run
      commands, my public keys, and some cheatsheets.
    </div>
  </div>

  <!-- JGrade. -->
  <div
    class="software-project-overview-block mat-elevation-z4"
    wmAnimate="landing"
    speed="fast"
    [aos]="0.5"
    delay="0.3"
  >
    <div class="title-row">
      <h3 id="jgrade">
        <a href="https://github.com/tkutcher/jgrade">JGrade</a>
      </h3>
      <span class="lang-logo">Java <i class="fab fa-lg fa-java"></i></span>
    </div>
    <div class="img-and-meta-info">
      <div class="img-container">
        <img
          class="mat-elevation-z8"
          src="/assets/images/jgrade-screenshot-01.png"
          alt="JGrade"
        />
      </div>
      <div class="meta-info">
        <div class="meta-info-item" style="word-break: break-all">
          <a href="https://github.com/tkutcher/jgrade">
            <i class="fab fa-md fa-github"></i> jgrade
          </a>
        </div>
        <div class="meta-info-item">
          <a href="https://github.com/tkutcher/jgrade/blob/dev/LICENSE.md">
            <i class="fas fa-md fa-balance-scale"></i> MIT
          </a>
        </div>
        <div class="meta-info-item">
          <a href="https://github.com/tkutcher/jgrade/stargazers">
            <i class="fas fa-md fa-star"></i> {{ jgradeWatchers }}
          </a>
        </div>
        <div class="meta-info-item">
          <a href="https://github.com/tkutcher/jgrade/network/members">
            <i class="fas fa-md fa-code-branch"></i> {{ jgradeForks }}
          </a>
        </div>
      </div>
    </div>
    <div class="description">
      JGrade is a Java package I developed while a TA for the Data Structures class at
      Johns Hopkins. It was built for the Gradescope Autograder and implements features
      for different grading strategies, grading based on checkstyle, and more. Check out
      the repository or the
      <a href="https://tkutcher.gitlab.io/jgrade/api/">API docs</a> for more.
    </div>
  </div>

  <!-- dicorp.com/zpdsolutions.com -->
  <div
    class="software-project-overview-block mat-elevation-z4"
    wmAnimate="landing"
    speed="fast"
    [aos]="0.5"
  >
    <div class="title-row">
      <h3 id="zpdsolutions.com">
        <a href="https://zpdsolutions.com">zpdsolutions.com</a> &
        <a href="https://zpdsolutions.com">dicorp.com</a>
      </h3>
      <span class="lang-logo">Angular <i class="fab fa-lg fa-angular"></i></span>
    </div>
    <div class="img-and-meta-info">
      <div class="img-container">
        <img
          class="mat-elevation-z8"
          src="/assets/images/zpd-site-screenshot.png"
          alt="ZPD Solutions"
        />
      </div>
      <div class="meta-info">
        <div class="meta-info-item">
          <i class="fas fa-md fa-balance-scale"></i> ZPD Solutions, LLC
        </div>
        <div class="meta-info-item">
          <i class="fas fa-md fa-balance-scale"></i> DICORP, Inc.
        </div>
      </div>
    </div>
    <div class="description">
      Using Angular, I developed the websites for
      <a href="https://zpdsolutions.com">zpdsolutions.com</a> and
      <a href="https://dicorp.com">dicorp.com</a>. Head on over and check out the sites!
    </div>
  </div>

  <!-- QuickBase-Client. -->
  <div
    class="software-project-overview-block mat-elevation-z4"
    wmAnimate="landing"
    speed="fast"
    [aos]="0.5"
    delay="0.1"
  >
    <div class="title-row">
      <h3 id="quickbase-client">
        <a href="https://github.com/tkutcher/quickbase-client">QuickBase-Client</a>
      </h3>
      <span class="lang-logo">Python <i class="fab fa-lg fa-python"></i></span>
    </div>
    <div class="img-and-meta-info">
      <div class="img-container">
        <img
          class="mat-elevation-z8"
          src="/assets/images/quickbase-screenshot.png"
          alt="QuickBase"
        />
      </div>
      <div class="meta-info">
        <div class="meta-info-item" style="word-break: break-all">
          <a href="https://github.com/tkutcher/quickbase-client">
            <i class="fab fa-md fa-github"></i> quickbase-client
          </a>
        </div>
        <div class="meta-info-item">
          <a href="https://github.com/tkutcher/quickbase-client/blob/dev/LICENSE.md">
            <i class="fas fa-md fa-balance-scale"></i> MIT
          </a>
        </div>
        <div class="meta-info-item">
          <a href="https://github.com/tkutcher/jgrade/stargazers">
            <i class="fas fa-md fa-star"></i> {{ quickbaseClientWatchers }}
          </a>
        </div>
        <div class="meta-info-item">
          <a href="https://github.com/tkutcher/jgrade/network/members">
            <i class="fas fa-md fa-code-branch"></i> {{ quickbaseClientForks }}
          </a>
        </div>
      </div>
    </div>
    <div class="description">
      The quickbase-client Python package focuses on “code that writes code” to allow
      users to interact with the QuickBase API from a high level to provide easier
      development interfacing with QuickBase. This was submitted to the 2020 QuickBase
      Virtual Hackathon along with a "Metaprogramming with QuickBase" QuickBase App. You
      can read more
      <a routerLink="/projects" fragment="quickbase-client">here</a>.
    </div>
  </div>
</div>
