.software-project-overview-blocks {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.software-project-overview-block {
  background-color: #262c38;
  border-radius: 8px;
  padding: 12px;
  margin: 8px;
  max-width: 375px;

  .img-container img {
    max-height: 130px;
    max-width: 200px;
    border-radius: 2px;
    animation: pulsate 4s linear infinite;
  }

  a {
    color: rgba(255, 255, 255, 0.7);
  }
}

.title-row {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .lang-logo {
    font-size: smaller;
    color: rgba(255, 255, 255, 0.4);
  }
}

.img-and-meta-info {
  display: flex;
  justify-content: space-between;
}

.meta-info {
  flex-grow: 1;
  padding-left: 8px;
  font-weight: lighter;
}

.meta-info-item {
  margin: 6px 0;
  color: rgba(255, 255, 255, 0.3);
  a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.3);
  }

  i {
    width: 16px;
    text-align: center;
  }

  :hover {
    color: rgba(255, 255, 255, 0.9);
    transition: color 800ms ease;
  }
}

.description {
  margin-top: 6px;
  font-style: italic;
  font-weight: lighter;
}

@keyframes pulsate {
  from {
    opacity: 1;
  }
  50% {
    opacity: 0.75;
  }
  to {
    opacity: 1;
  }
}
