<section>
  <div wmAnimate="landing" speed="fast" aos="1">
    <h2 id="software">Software</h2>
    <div>
      <p>
        I primarily work full-stack web development and am most experienced with Python, and
        TypeScript Angular frontends. I am also comfortable working with Java, XSLT,
        Dart/Flutter mobile development, Docker, and more.
      </p>
      <p>
        Here are a few of the things I've done:
      </p>
    </div>
  </div>
  <div class="software-project-overview-blocks" style="padding-top: 24px;">

    <!-- JGrade. -->
    <div class="software-project-overview-block mat-elevation-z4" wmAnimate="landing" speed="fast" aos="0.8">
      <div class="title-row">
        <h3 id="jgrade">
          <a href="https://github.com/tkutcher/jgrade">JGrade</a>
        </h3>
        <span class="lang-logo">Java <i class="fab fa-lg fa-java"></i></span>
      </div>
      <div class="img-and-meta-info">
        <div class="img-container">
          <img class="mat-elevation-z8" src="/assets/images/jgrade-screenshot-01.png" alt="JGrade"/>
        </div>
        <div class="meta-info">
          <div class="meta-info-item" style="word-break: break-all">
            <a href="https://github.com/tkutcher/jgrade">
              <i class="fab fa-md fa-github"></i> tkutcher/jgrade
            </a>
          </div>
          <div class="meta-info-item">
            <a href="https://github.com/tkutcher/jgrade/blob/dev/LICENSE.md">
              <i class="fas fa-md fa-balance-scale"></i> MIT
            </a>
          </div>
          <div class="meta-info-item">
            <a href="https://github.com/tkutcher/jgrade/stargazers">
              <i class="fas fa-md fa-star"></i> {{jgradeWatchers}}
            </a>
          </div>
          <div class="meta-info-item">
            <a href="https://github.com/tkutcher/jgrade/network/members">
              <i class="fas fa-md fa-code-branch"></i> {{jgradeForks}}
            </a>
          </div>
        </div>
      </div>
      <div class="description">
        JGrade is a Java package I developed while a TA for the Data Structures class at Johns Hopkins.
        It was built for the Gradescope Autograder and implements features for different grading strategies,
        grading based on checkstyle, and more. Check out the repository or the <a href="https://tkutcher.gitlab.io/jgrade/api/">API docs</a> for more.
      </div>
    </div>

    <!-- dicorp.com/zpdsolutions.com -->
    <div class="software-project-overview-block mat-elevation-z4" wmAnimate="landing" speed="fast" aos="1">
      <div class="title-row">
        <h3 id="zpdsolutions.com">
          <a href="https://zpdsolutions.com">zpdsolutions.com</a> & <a href="https://zpdsolutions.com">dicorp.com</a>
        </h3>
        <span class="lang-logo">Angular <i class="fab fa-lg fa-angular"></i></span>
      </div>
      <div class="img-and-meta-info">
        <div class="img-container">
          <img class="mat-elevation-z8" src="/assets/images/zpd-site-screenshot.png" alt="ZPD Solutions"/>
        </div>
        <div class="meta-info">
          <div class="meta-info-item">
            <i class="fas fa-md fa-balance-scale"></i> ZPD Solutions, LLC
          </div>
          <div class="meta-info-item">
            <i class="fas fa-md fa-balance-scale"></i> DICORP, Inc.
          </div>
        </div>
      </div>
      <div class="description">
        Using Angular, I developed the websites for <a href="https://zpdsolutions.com">zpdsolutions.com</a> and
        <a href="https://dicorp.com">dicorp.com</a>. Head on over and check out the sites!
      </div>
    </div>

    <!-- prettyrepo -->
    <div class="software-project-overview-block mat-elevation-z4" wmAnimate="landing" speed="fast" aos="0.25">
      <div class="title-row">
        <h3 id="prettyrepo">
          <a href="https://gitlab.com/tkutcher/prettyrepo">prettyrepo</a>
        </h3>
        <span class="lang-logo">Python <i class="fab fa-lg fa-python"></i></span>
      </div>
      <div class="img-and-meta-info">
        <div class="img-container">
          <img class="mat-elevation-z8" src="/assets/images/prettyrepo-screenshot.png" alt="prettyrepo"/>
        </div>
        <div class="meta-info">
          <div class="meta-info-item" style="word-break: break-all">
            <a href="https://gitlab.com/tkutcher/prettyrepo">
              <i class="fab fa-md fa-gitlab"></i> prettyrepo
            </a>
          </div>
          <div class="meta-info-item">
            <a href="https://gitlab.com/tkutcher/prettyrepo/-/blob/dev/LICENSE.md">
              <i class="fas fa-md fa-balance-scale"></i> MIT
            </a>
          </div>
          <div class="meta-info-item">
            <a href="https://gitlab.com/tkutcher/prettyrepo/-/starers">
              <i class="fas fa-md fa-star"></i> {{prettyRepoWatchers}}
            </a>
          </div>
          <div class="meta-info-item">
            <a href="https://gitlab.com/tkutcher/prettyrepo/-/forks">
              <i class="fas fa-md fa-code-branch"></i> {{prettyRepoForks}}
            </a>
          </div>
        </div>
      </div>
      <div class="description">
        A cookie-cutter project for setting up repositories for Python packages. Includes pytest unit testing setup, dependency panagement with pipenv, CI/CD through GitLab CI, and docs with sphinx.
      </div>
    </div>

  </div>
</section>
