<section style="padding-top: 20vh;">
  <div wmAnimate="landing" speed="fast" aos="1">
    <h2 id="athletics">Athletics</h2>
    <div>
      <p>
        Athletics, especially baseball, have always been a major aspect of my life. I was fortunate to
        play college baseball at Johns Hopkins and had a great four years. My senior year we even
        made it to the College World Series. I am thankful for all of the great memories, teammates,
        coaches, and the support of my family.
      </p>
      <p>
        Here are a few of my luckier moments:
      </p>
    </div>
  </div>
  <div class="vid-highlight-blocks" style="padding-top: 24px;">

    <!-- SportsCenter Top 10. -->
    <div class="vid-highlight-block mat-elevation-z4" wmAnimate="landing" speed="fast" aos="0.8">
      <div class="title-row">
        <h3 id="sc-top-10">
          <a href="https://youtu.be/8LnH_NIV4W8">SportsCenter Top 10 Catch</a>
        </h3>
        <i class="fas fa-lg fa-baseball-ball"></i>
      </div>
      <div class="vid-row">
        <iframe width="350" height="197" src="https://www.youtube.com/embed/8LnH_NIV4W8" allowfullscreen></iframe>
      </div>
      <div class="description">
        As our shortstop reminds me - I didn't do anything that special I just caught a ball and the
        fence happened to be there.
      </div>
    </div>


    <!-- CWS Walkoff Double. -->
    <div class="vid-highlight-block mat-elevation-z4" wmAnimate="landing" speed="fast" aos="0.9">
      <div class="title-row">
        <h3 id="cws-walkoff">
          <a href="https://youtu.be/2kYD8PFWdtY">CWS Walkoff Double</a>
        </h3>
        <i class="fas fa-lg fa-baseball-ball"></i>
      </div>
      <div class="vid-row">
        <iframe width="350" height="197" src="https://www.youtube.com/embed/2kYD8PFWdtY" allowfullscreen></iframe>
      </div>
      <div class="description">
        In Game 1 of the 2019 DIII CWS, we were playing Babson in a tight game that went to extras.
        In the top of the 10th we went down 2 runs. We had an awesome rally to come back in the bottom of
        the 10th and I happened to come up in this spot.
      </div>
    </div>


    <!-- Walkoff Homerun. -->
    <div class="vid-highlight-block mat-elevation-z4" wmAnimate="landing" speed="fast" aos="0.1">
      <div class="title-row">
        <h3 id="walkoff-hr">
          <a href="https://youtu.be/_QzfWr1uy3A">Walkoff Homerun</a>
        </h3>
        <i class="fas fa-lg fa-baseball-ball"></i>
      </div>
      <div class="vid-row">
        <iframe width="350" height="197" src="https://www.youtube.com/embed/_QzfWr1uy3A" allowfullscreen></iframe>
      </div>
      <div class="description">
        This was one of the games early in the season my senior year. Don't be fooled though, I didn't start off that
        hot and was 1 for my first 17 coming in to this plate appearance.
      </div>
    </div>


    <!-- Career Highlights. -->
    <div class="vid-highlight-block mat-elevation-z4" wmAnimate="landing" speed="fast" aos="0.1">
      <div class="title-row">
        <h3 id="highlights">
          <a href="https://youtu.be/yOli9ZnUAoA">JHU Highlights</a>
        </h3>
        <i class="fas fa-lg fa-baseball-ball"></i>
      </div>
      <div class="vid-row">
        <iframe width="350" height="197" src="https://www.youtube.com/embed/yOli9ZnUAoA" allowfullscreen></iframe>
      </div>
      <div class="description">
        Eh, why not? Some more highlights are here.
      </div>
    </div>


    <!-- 2019 Team. -->
    <div class="vid-highlight-block mat-elevation-z4" wmAnimate="landing" speed="fast" aos="0.1">
      <div class="title-row">
        <h3 id="2019 Team">
          <a href="https://youtu.be/ihoMDV-YQdk">2019 Team</a>
        </h3>
        <i class="fas fa-lg fa-baseball-ball"></i>
      </div>
      <div class="vid-row">
        <iframe width="350" height="197" src="https://www.youtube.com/embed/ihoMDV-YQdk" allowfullscreen></iframe>
      </div>
      <div class="description">
        Our 2019 season was certainly special. I wound up throwing together a video featuring a bunch of the guys who made it special as a "hype video" for our
        ahead of our Superregional series vs. Shennandoah.
      </div>
    </div>
  </div>
</section>
