<div class="contact-grid" fxLayout.gt-xs="row" fxLayout="column">
  <div class="contact-grid-square" *ngFor="let block of contactBlocks">
    <div class="contact-grid-square-inner">
      <div class="contact-grid-square-front mat-elevation-z4">
        <div class="icon-container">
          <i [class]="'fas fa-5x ' + block.faIcon"></i>
        </div>
        <div style="padding: 8px">
          <span>{{ block.title }}</span>
        </div>
      </div>
      <div class="contact-grid-square-back mat-elevation-z8">
        <div style="margin: 0 auto">
          <div *ngFor="let item of block.contents">
            <a [href]="item.link"
              ><i [class]="'fa-2x ' + item.faName"></i>{{ item.handle }}</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
