$prompt-bg-color: #444444;
$prompt-username-color: #eef49c;
$prompt-domain-color: #c6f4cd;
$prompt-path-color: #4aaef8;
$prompt-status-ok-color: #55f83c;
$prompt-status-bad-color: #f84334;

$prompt-height: 60px;
$prompt-line-height: 24px;
$half-prompt-line-height: 12px;

.cmd-prompt {
  font-family: "Lucida Console", Monaco, monospace;
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: $prompt-height;
}

.prompt-left,
.prompt-right {
  display: flex;
  align-items: center;
  width: 350px;
}

.prompt-left {
  justify-content: flex-start;
}

.prompt-right {
  justify-content: flex-end;
}

.pipe-wrapper {
  height: 100%;
  box-sizing: border-box;
  padding: $half-prompt-line-height 0;
  overflow: hidden;

  .left-pipe,
  .right-pipe {
    border: solid 2px $prompt-bg-color;
    border-radius: 4px;
    width: 24px;
    height: 100%;
  }

  .left-pipe {
    margin-right: -4px; // to account for rounded border.
    border-right: 0;
  }

  .right-pipe {
    margin-left: -4px; // to account for rounded border.
    border-left: 0;
  }
}

.hexed-prompt {
  width: max-content;
  height: $prompt-line-height;
  background: $prompt-bg-color;
  color: #fff;
  position: relative;
  line-height: $prompt-line-height;
  padding: 2px 8px;
  align-items: center;
  display: flex;
}

.hexed-prompt:before,
.hexed-prompt:after {
  content: "";
  position: absolute;
  height: 0;
  width: 0;
  border: $half-prompt-line-height solid transparent;
  top: 0;
}

.hexed-prompt:after {
  left: 100%;
  border-left: 12px solid $prompt-bg-color;
}

.hexed-prompt:before {
  right: 100%;
  border-right: 12px solid $prompt-bg-color;
}

.prompt-displays {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.literal-prompt {
  display: flex;
  align-items: center;
  padding-left: 6px;
}

.cursor {
  height: $prompt-line-height;
  margin-left: 2px;
  width: 12px;
  background-color: white;
  opacity: 0.8;
  animation: blink-animation 1.5s steps(2, start) infinite;
  -webkit-animation: blink-animation 1.5s steps(2, start) infinite;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

.prompt-username {
  color: $prompt-username-color;
}

.prompt-domain {
  color: $prompt-domain-color;
}

.prompt-path {
  color: $prompt-path-color;
  font-weight: bolder;
}

.prompt-status-ok {
  color: $prompt-status-ok-color;
}

.prompt-status-bad {
  color: $prompt-status-bad-color;
}

.prompt-middle {
  flex-grow: 1;
  padding: 0 $half-prompt-line-height;
}
