<div
  id="header"
  [@headerAppearance]="appearanceState"
  [style]="{ height: HEADER_HEIGHT_ + 'px' }"
>
  <app-cmd-prompt>
    <nav class="nav-items" fxShow fxHide.lt-md="true">
      <a
        *ngFor="let navItem of navItems"
        class="nav-item"
        [routerLink]="navItem.routerLink"
        (mouseenter)="onNavItemHover(navItem)"
        (mouseleave)="onNavItemExit()"
        >/{{ navItem.display }}</a
      >
    </nav>

    <div style="display: flex; justify-content: flex-end">
      <button mat-icon-button fxHide fxShow.lt-md="true" [matMenuTriggerFor]="navMenu">
        <mat-icon>menu</mat-icon>
      </button>

      <mat-menu #navMenu="matMenu">
        <ng-container
          mat-menu-item
          *ngFor="let navItem of navItems"
          [routerLink]="navItem.routerLink"
        >
          <button *ngIf="navItem.routerLink" [routerLink]="navItem.routerLink">
            <span>{{ navItem.display }}</span>
          </button>
          <a *ngIf="navItem.href" [href]="navItem.href">
            <span>{{ navItem.display }}</span>
          </a>
        </ng-container>
      </mat-menu>
    </div>
  </app-cmd-prompt>
</div>
