<div
  id="header"
  [@headerAppearance]="appearanceState"
  [style]="{ height: HEADER_HEIGHT_ + 'px' }"
>
  <app-cmd-prompt>
    <nav class="nav-items" fxShow fxHide.lt-md="true">
      <ng-container *ngFor="let navItem of navItems">
        <a
          *ngIf="navItem.routerLink"
          [routerLink]="navItem.routerLink"
          class="nav-item"
          (mouseenter)="onNavItemHover(navItem)"
          (mouseleave)="onNavItemExit()"
          >/{{ navItem.display }}</a
        >
        <a
          *ngIf="navItem.href"
          [href]="navItem.href"
          class="nav-item"
          (mouseenter)="onNavItemHover(navItem)"
          (mouseleave)="onNavItemExit()"
          >/{{ navItem.display }}</a
        >
      </ng-container>
    </nav>

    <div style="display: flex; justify-content: flex-end">
      <button mat-icon-button fxHide fxShow.lt-md="true" [matMenuTriggerFor]="navMenu">
        <mat-icon>menu</mat-icon>
      </button>

      <mat-menu #navMenu="matMenu">
        <ng-container *ngFor="let navItem of navItems">
          <button
            *ngIf="navItem.routerLink"
            [routerLink]="navItem.routerLink"
            mat-menu-item
          >
            <span>{{ navItem.display }}</span>
          </button>
          <a *ngIf="navItem.href" [href]="navItem.href" mat-menu-item>
            <span>{{ navItem.display }}</span>
          </a>
        </ng-container>
      </mat-menu>
    </div>
  </app-cmd-prompt>
</div>
