#profile-links {
  display: flex;
  flex-direction: column;
  padding-left: 12px;
  padding-bottom: 48px;

  a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.4);
  }

  a:hover {
    color: rgba(255, 255, 255, 0.8);
    transition: color 300ms ease;
  }
}

.profile-link {
  margin: 6px 0;
}
